/* BintSchool - Login Page Styles */

:root{
    --primary:rgba(5,7,21,255);
    --border: #222430;
    --block: rgb(17, 18, 32);
    --secondary: #1B1B1B;
}
#blockpage{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: rgb(3, 5, 19);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-evenly;
    padding: 0 5% 0 5%;
}

#blockpage .container-left, #blockpage .container-right{
    width:20%;
    height: 145%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top:-20%;
}

#blockpage .container-right{
    position: relative;
    right:-5%;
}
#blockpage .container-left{
    position: relative;
    left:-5%;
}

#blockpage .container-left .block, #blockpage .container-right .block{
    width: 100%;
    height:25vh;
    max-height: 100%;
    border-radius: 10px;
    background-color: var(--primary);
}

#blockpage .container-left .block img, #blockpage .container-right .block img{
    width: 100%;
    filter: blur(15px);
    height: 100%;
    object-fit: cover;
}

/* #blockpage .container-left .block:nth-child(4) img, #blockpage .container-right .block:nth-child(4) img{} */

#blockpage .container-left .block:nth-child(4), #blockpage .container-right .block:nth-child(1){
    border: 4px solid rgba(194, 194, 194, 0.26);

}

.overlay{
    width: 70%;
    max-width: 70%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:0;
}

.overlay .logo{
    background-color:white;
    opacity:0.8;
    width:20%;
    height:10%;
    padding: 0 1% 0 0;
    border-radius: 10px;
    object-fit: cover;
}

.overlay .login, .overlay .register, #forgotten-pass.active{
    max-height:65%;
    background-color: var(--primary);
    position: absolute;
    top:20%;
}


.overlay .login .login-head p, .overlay .register .register-head p{
    color:white;
}

.overlay .login{
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    z-index: 1;
    transition: all .5s ease;
}
.overlay .register{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    z-index: 2;
    width: 100%;
    transform: translateX(0);
    transition: transform .5s ease;
}

.overlay h1{
    text-align: center;
    font-size: 2.5vh;
    font-size:2.5em;
    margin: 0 0 2% 0;
    color: white;
}
.overlay .login form, .register form{
    display:flex;
    border-radius: 15px;
    padding: 2.5% 10% 2.5% 7%;
    align-items: center;
    flex-direction:column;
    width: 60%;
    max-width:60%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--block);
}
.register .register-head, .login .login-head{
    width: 90%;
    margin: 2% 0 2% 5%;
}
.overlay form .input-container{
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 90%;
    border-radius: 10px;
    margin: 2% 0 2% 5%;
    overflow: hidden;
}

.overlay .register.active{
    margin:0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}
.overlay form .btns{
    text-align: center;
}
.overlay form .btns div{
    font-size: 2vh;
    color: white;
}

.overlay form .btns button:nth-child(1){
    background-color: orange;
    color: white;
    height:5vh;

}
.overlay form .btns button:nth-child(3){
    background-color: #222430;
    color: white;
    border: none;
    height:5vh;
}
.overlay form .btns button:nth-child(1), .overlay form .btns button:nth-child(3){
    font-size: 2vh;
    border-radius: 5px;
    width: 100%;
}
.overlay form input::placeholder{
    color: white;
    text-align: center;
}

.overlay form input:focus{
    color: white;
    outline: none;
    padding: 0 5% 0 5%;
    background-color: rgba(49, 49, 49, 0.23);
}
.overlay form input{
    display: block;
    height:5vh;
    width: 100%;
    border: none;
    color: white;
    padding: 0 5% 0 5%;
    background-color:rgba(49, 49, 49, 0.23);
}

.overlay .register .btns{
    margin: 2% 0 0 0;
}

.overlay form button{
    font-weight: 600;
}
.overlay .login a{
    color: white;
    width: 100%;
    font-size:.85em;
    margin: 5% 0 5% 0;
    padding: 0 0 0 45%;
}


#message{
    width: 0%;
    max-height: 0vh;
    overflow:hidden;
}
#message .close-msg{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    font-size:1em;
    width:30%;
    height:3vh;
    margin: 0 0 1% 0;
    border-radius:5px;
    background-color: transparent;
    border:3px solid white;
    color:white;
}

#message.success .success.active{
    background-color: var(--block);
    box-shadow: 0 0 20px 0 #ffffff53;
    height:20%;
    width: 20%;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    margin: 10px 0 10px 0;
    text-align: center;
    position:fixed;
    top:0;
    left:40%;
    z-index: 100;
    transition:all .5s ease;
}

#message.success .success.active h4{
    width: 100%;
    font-weight: 500;
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message.success .success.active h4 svg{
    height: 90%;
    width:50px;
    padding: 1% 2% 2% 2%;
    border-radius: 50%;
    fill: white;
    background-color: greenyellow;
}

#message.error .success, #message.success .error{
    width: 0;
    height:0;
    max-width:0;
    max-height:0;
    overflow:hidden;
    transition: all .5s ease;
}

 
#message.error .error.active{
    /*  red:  #a91d1dff*/
    background-color: rgb(188, 25, 25); 
    box-shadow: 0 0 10px 0 #ffffff15;
    height:auto;
    min-height: 30%;
    width: 20%;
    text-align:center;
    color: white;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    margin: 10px 0 10px 0;
    position:fixed;
    word-wrap: break-word;
    top:0;
    left:40%;
    z-index: 100;
    transition:all .5s ease;
    padding: 0 0 .5% 0;
}

#message.error .error.active h4{
    width: 100%;
    min-height: 25%;
    font-size: 2em;
    font-weight: 500;
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message.error .error.active h4 .ctn-svg{
    height: 100%;
    width:40px;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white;
}

#message.error .error.active h4 .ctn-svg svg{
    fill: red;
    height:75%;
    width: 75%;
}
#message.error .error.active .error-msg{
    width: 100%;
    padding: 0 5% 0 5%;
    text-align:center;
}

#loader-overlay{
    width: 0;
    height:0;
    overflow:hidden;
    opacity: 0;
    transition: opacity .5s ease-out;
}

#loader-overlay.active{
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 16;
    opacity: 1;
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    transition: opacity .5s ease-out
}

#loader-overlay.active .loader{
    width: 0;
    height:0;
    overflow: hidden;
    z-index:-1;
}

#loader-overlay.active .loader.active{
    background-color: var(--secondary);
    color:white;
    font-size: 1.4em;
    font-weight: 600;
    text-align:center;
    width:15%;
    height: 20%;
    z-index: 16;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes spinner{
    0%{
        rotate :0deg
    }
    100%{
        rotate:360deg;
    }
}
#loader-overlay.active .spinner{
    width:60%;
    height:90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    animation: spinner .7s ease-out infinite;
}

#loader-overlay.active .spinner .vertical, #loader-overlay.active .spinner .horizontal{
    position:absolute;
}
#loader-overlay.active .spinner .horizontal{
    width: 70%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#loader-overlay.active .spinner .vertical{
    height: 70%;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#loader-overlay.active .loader.active .spinner .top, #loader-overlay.active .loader.active .spinner .left, #loader-overlay.active .loader.active .spinner .right, #loader-overlay.active .loader.active .spinner .bottom{
    width:20px;
    height:20px;
    border-radius: 100px;
    background-color: white;
}



#forgotten-pass{
    width: 0;
    height:0;
    overflow:hidden;
    transform: translateY(150%);
}

#forgotten-pass.active{
    width: 100%;
    color: white;
    background-color: var(--primary);
    padding: 0% 10% 0 10%;
    z-index: 15;
    transition: all .5s ease;
    transform: translateY(0%);
    transition: all .5s ease;
}

#forgotten-pass.active .text{
    text-align: center;
}
#forgotten-pass.active .text h2{
    font-size: 2em;
    width: 100%;
}

#forgotten-pass.active .text img{
    width: 20%;
    height: 10%;
    margin: 0 0 5% 0;
    object-fit: center;
}

#forgotten-pass.active .text p{
    font-size: 1em;
}
#forgotten-pass.active form .input-container{
    border-radius: 10px;
    margin: 0 0 5% 0;
    overflow: hidden;
    width:100%;
}

#forgotten-pass.active form .btns button:nth-child(1){
    margin: 0 0 2% 0;
}

#forgotten-pass.active form .btns button:nth-child(3){
    margin: 2% 0 0 0;
}

#forgotten-pass.active form{
    background-color: var(--block);
    border-radius: 10px;
    margin: 10% 0 0 20%;
    padding: 10% 5% 0 5%;
    width: 60%;
    height:60%;
}

#profile{
    width: 100%;
    height: 100%;
    color:white;
    background-color: var(--primary);
    transform: translateX(-100%);
    transition: transform .5s ease;
    padding: 0 0 0 0;
    overflow:hidden;
}

#profile.active{
    transform: translateX(0);
    z-index:3;
    transition: transform .5s ease;
}

#profile .profile-head{
    height:25%;
    width: 100%;
    margin: 0 0 5% 0;
    padding: 5% 0 0% 0;
}

#profile .profile-head img{
    width: 15%;
    height:30%;
    margin: 0 0 5% 45%;
    padding: 0% 0 0% 0;
    object-fit: cover;
}

  #profile .profile-head .text{
    width: 35%;
    height: 65%;
    padding: 0 0 0 0;
    margin: 0% 0 0% 35%;
    text-align: center;
}

#profile .btn-continue{
    background-color: orange;
    height: 5vh;
    width: 15%;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 43%;
    border-radius:10px;
    color: var(--border);
    font-weight: 600;
    font-size: 1.2em;
    z-index: 1;
}

#profile .overlay-btn{
    height: 8vh;
    width: 100%;
    background: var(--primary);
    opacity: 0.7;
    z-index: 10;

}
#profile .overlay-btn.unactive{
    height: 0;
    width: 0;
    overflow:hidden;
}

#profile .btn-continue, #profile .overlay-btn{
    position:absolute;
    bottom: 5%;
}

 #profile .btn-continue{
    cursor:pointer;
 }

#profile .profiles{
    display: flex;
    justify-content: center;
    padding: 0 0 0 4%;
    height: 60%;
}

#profile .profiles svg{
    width:40px;
    height:60px;
    fill:white;
    transition: fill .5s ease;
    margin: 0 0 1% 5%;
}

#profile .profiles .learner, #profile .profiles .teacher{
    padding: 0 0 0 5%;
    position:relative;
    height:80%;
    width: 70%;
    margin: 0 0 0 0;
}

#profile .profiles .profile-teacher, #profile .profiles .profile-learner{
    border-radius:20px;
    z-index: 10;
    background-color: var(--border);
    width: 80%;
    height:100%;
    
}

#profile .profiles .profile-teacher img, #profile .profiles .profile-learner img{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    z-index: 16;
    margin: 0 0 5% 5%;
    object-fit: cover;
}

#profile .profiles .profile-teacher .text, #profile .profiles .profile-learner .text{
    width:80%;
    max-height:25%;
    font-size: .8em;
    overflow:hidden;
    margin: 0 0 1% 5%;
}

 #profile .profiles .profile-teacher.active, #profile .profiles .profile-learner.active{
    border: 1px solid orange;
    background: rgba(139, 73, 20, 0.14);
    opacity: 1;

}

#profile .profiles .profile-teacher.active svg, #profile .profiles .profile-learner.active svg{
    fill:orange;
    transition: all .5s ease;
}

#profile .profiles .profile-teacher.active img, #profile .profiles .profile-learner.active img, #profile .profiles .profile-teacher.active .text, #profile .profiles .profile-learner.active .text{
    z-index: 2000;
    transition:all .5s ease;
}


#loader-overlay.active #restore-pass{
    widtH:0;
    height:0;
    overflow:hidden;
}
#loader-overlay.active #restore-pass.active{
    width: 30%;
    height:auto;
    z-index:17;
    padding: 1% 1% 0 1%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--block);
    color:white;
}

#loader-overlay.active #restore-pass.active p{
    padding: 0 5% 0 5%;
    margin: 1% 0 2% 0;
}

#restore-pass.active .useremail{
    font-weight:600;
    color: orange;
}

#restore-pass .goBack-btn{
    padding: 1% 0 1% 0;
    margin: 0 0 5% 2.5%;
    width: 95%;
    border-radius: 10px;
    border:none;
    background-color: var(--border);
    height:5%;
    color: white;
}